body {
	font-family: "dejavu sans", verdana, arial, sans-serif;
	/* background-color: #e0e0f0; */
	color: #404040;
}
.css-grd {
  /* default background colour, for all layout engines that don't implement gradients */
  background: #eeeeee;
  
  /* gecko based browsers */
  background: -moz-linear-gradient(top, #eeeeee, #bbbbbb);

  /* webkit based browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));

  color: #404040; /* text colour (black) */
  height: auto; /* gradient uses the full height of the element */
  padding: 5px; /* distance from border edge to text */
}

.text_line
{
	clear:both;
	/*margin-bottom:5px;*/
}

i.grey
{
	color: grey;
}

div.chapter
{
	/*margin-bottom:25px;*/
	cursor: pointer;
}
p.chapter
{
	margin-left:5%;
	margin-right:5%;
	display: none;
	border-width: thin;
	border-style: dotted;
	border-color: black;
	padding: 1%;
	background: lightgray;
	clear: both;
}

img.chapter
{
	width: 20%;
	padding: 1%;
}

#image_container
{
    width:30px;
    height:auto;
    border:3px double #999;
}

#image_container img
{
    width:100%;
    height:auto;
}



#picture {
	text-align: center;
}
#img {float:right;}
p {font-family: "dejavu sans", verdana, arial, sans-serif; text-align: justify;}
li {font-family: "dejavu sans", verdana, arial, sans-serif;}
h1 {font-family: "dejavu sans", verdana, arial, sans-serif;}
h2 {font-family: arial, serif;}
#pagehdg {
	text-align: center;
	border-width: thin;
	border-style: groove;
	border-color: black;
	background-color: #505050;
	color : #FFFFFF;
}
#pprog {
	text-align: center;
	font-weight: bold;
	font-size: 80%;
}
#pdesc {
	text-align: center;
	font-style: italic;
	font-size: 60%;
}
#ptimes {
	text-align: center;
	font-style: italic;
	font-size: 70%;
	color: #808080;
}
#ppres {
	text-align: center;
	font-size: 80%;
}
#pnone {
	text-align: center;
	color: #888888;
	font-size: 80%;
}
#colhdg {
	text-align: center;
	border-width: thin;
	border-style: groove;
	border-color: white;
	background-color: #000000;
	color : #eeeeee;
}
#gridperiod {
	text-align: center;
	border-width: thin;
	border-style: groove;
	border-color: white;
	background-color: #404040;
	font-weight : bold;
	font-size : 130%;
	color : #ffffff;
}
#currprg {
	text-align: center;
	border-width: thin;
	border-style: groove;
	border-color: white;
	background-color: #606060;
	color : #eeeeee;
}
